@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to left, #2980b9, #154360);
  font-family: "Oswald", sans-serif;
  min-height: 100vh;
 

}
.row{
    display: flex;
    align-items: center;
}

.title {
  color: #e5e8e8;
  text-align: center;
  font-size: 3rem;
  text-shadow: 1px 2px 8px #6363636d;
}

label {
  color: #e5e8e8;
}
.gender-label {
  color: #d69b73;
}
.add-user {
  background-color: #b7950b;
  color: #ededed;
  float: right;
}

.add-user:hover{
    color: #ededed;
    background-color: #154360;
}
.add-user-form {
  position: relative;
}
.users-view{
    position: relative;
}

#add-alert {
  position: absolute;
  top: -40;
  right: 0;
}

#delete-alert{
    position: absolute;
    left: 40px;
    top: -50px;
    color:#CB4335;
    font-size: 1.5rem;
  }

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

td {
  min-width: 100px;
}

th,td{
  background-image: linear-gradient(#2980b9, #154360);
  color: #c5c6c7  !important;
  box-shadow: #2980b9 0px 3px 6px , #154360 2px 3px 6px !important;
  
}

.modal{
    background-color: #154360;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}